*{

    transition: all .3s ease-in-out;
    
}

.flex-container {
    display: flex;
    border: 10px solid black; 
    gap: 20px 50px; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* padding: 50px 50px 50px; */
    padding:15px;
    margin:50px auto;
}

img {
    width: 100%;
}

.pcball, .name, .type {
    display: none;
}

.normal, .normal2, .fairy, 
.normal3, .flying, .fire, 
.bug, .poison, .poison2,
.flying2, .fighting, .water, 
.normal4, .grass, .poison3,
.grass2, .poison4, .electric{
    display:none;
}

.body {
    background-image: url(3.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.box {
    width: 300px;
    flex-grow: 1;
    border: 2px solid greenyellow;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-evenly; 
}

#box1 { background-color: pink; }
#box2 { background-color: lightgreen; }
#box3 { background-color: lightsalmon; }
#box4 { background-color: lightskyblue; }
#box5 { background-color: lightseagreen; }
#box6 { background-color: lightgray; }
#box7 { background-color: lightpink; }
#box8 { background-color: lightgreen; }
#box9 { background-color: lightsalmon; }
#box10 { background-color: lightskyblue; }
#box11 { background-color: lightseagreen; }
#box12 { background-color: lightgray; }

@media screen and (max-width: 819px) {
    .flex-container {
        flex-direction: column;
        flex-wrap: wrap;
        padding:2 3;
        gap: 20px;
    }

    img {
        width: 20%;
    }

    .box {
        width: 100%;
        margin: 5px 0;
        flex-grow: 1; 
        height: auto; 
        box-shadow: 5px 5px 3px black;
        box-sizing: border-box;
    }

    .box:hover {
        background-image: url(stars.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transform: translate(0px, -8px);
        transition: .3s;
    }

    .pcball {
        display: block;
        width: 20%;
    }

    .name {
        display: block;
        font-size: 200%;
        font-weight: bold;
        color: aliceblue;
        text-shadow: 1px 1px 5px black;
    }

   
}

@media screen and (max-width: 656px) {
    img {
        width: 55%;
        height: auto;
    }

    .box {
        width: 100%;
        margin:5px 0;
        flex-grow: 1;
        flex-direction: column; 
        /* box-shadow: 10px 10px 3px black;
        align-items: center;
        justify-content: space-between;
        border: 3px solid greenyellow;
        box-sizing: border-box; */
    }

    .box:hover {
        background-image: url(booms.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transform: translate(0px, -8px);
        transition: .3s;
    }

    .name {
        display: flex;
        font-size:x-large;
        font-weight: bold;
        color: ghostwhite;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-shadow: 2px 4px 5px black;
    }

    .pcball {
        display: none; 
    }

    .type {
        font-size: small;
        display: block; 
    }

    .normal {
        background-color: yellow;
        border-radius: 20px;
        padding:5px 10px;   
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
      }

      .normal2 {
        background-color: violet;
        border-radius: 20px;
        padding:5px 10px;   
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
      }

      .fairy {
        background-color: khaki;
        border-radius: 20px;
        padding:5px 10px;   
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 4px;
      }

      .normal3 {
        background-color:bisque;
        border-radius: 20px;
        padding:5px 10px;   
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
      }

      .flying {
        background-color:azure;
        border-radius: 20px;
        padding:5px 10px;   
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 4px;
      }

      .fire {
        background-color: white;
        border-radius: 20px;
        padding:5px 10px;   
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 4px;
      }

      .bug {
        background-color:antiquewhite;
        border-radius: 20px;
        padding:5px 10px;   
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 4px;
      }

      .poison {
        background-color:lightpink;
        border-radius: 20px;
        padding:5px 10px;   
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 4px;
      }

      .poison2 {
        background-color:blanchedalmond;
        border-radius: 20px;
        padding:5px 10px;   
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 4px;
      }

      .flying2 {
        background-color: lightcyan;
        border-radius: 20px;
        padding:5px 10px;   
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 4px;
      }

      .fighting{
        background-color:lightgoldenrodyellow;
        border-radius: 20px;
        padding:5px 10px;   
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 4px;
      }

      .water{
        background-color:lavender;
        border-radius: 20px;
        padding:5px 10px;   
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 4px;
      }

      .normal4{
        background-color:cornsilk;
        border-radius: 20px;
        padding:5px 10px;   
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 4px;
      }

      .grass{
        background-color:burlywood;
        border-radius: 20px;
        padding:5px 10px;   
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 4px;
      }

      .poison3{
        background-color:gainsboro;
        border-radius: 20px;
        padding:5px 10px;   
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 4px;
      }

      .grass2{
        background-color:honeydew;
        border-radius: 20px;
        padding:5px 10px;   
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 4px;
      }

      .poison4{
        background-color:mistyrose;
        border-radius: 20px;
        padding:5px 10px;   
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 4px;
      }

      .electric{
        background-color:lavenderblush;
        border-radius: 20px;
        padding:5px 10px;   
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 4px;
      }

      
.normal, .normal2, .fairy, 
.normal3, .flying, .fire, 
.bug, .poison, .poison2,
.flying2, .fighting, .water, 
.normal4, .grass, .poison3,
.grass2, .poison4, .electric{
    box-shadow: 7px 7px 7px;
}

    
}
